# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kinzl\Desktop\HTL Grieskirchen\2.Klasse\TC1\2c_GrA_php_grundlagen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
